body {
  background-color: #f0f0f0;
  font-family: "Calibri", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
  padding: 20px;
  font-size: 16px;
}

#user-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: rgba(255, 99, 71, 0.5);
  border-radius: 5px;
}

#user-table {
  margin-top: 10px;
  width: 80%;
  max-width: 100%;
  border-collapse: collapse;
}

#user-table th {
  background-color: #999f99;
  padding: 10px;
  color: white;
}

#user-table td {
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5%;
  text-align: center;
}

#user-table td:nth-child(1) {
  text-align: left;
}

#user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#user-table tr:hover {
  background-color: #e0f7fa;
}

.action-buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.edit-button,
.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button:hover {
  background-color: rgba(173, 216, 230, 0.5);
  border-radius: 5px;
}

.delete-button:hover {
  background-color: rgba(255, 99, 71, 0.3);
  border-radius: 5px;
}
